{% extends "base.html" %}
{% block start %}

<div class="container mt-5">
    <!-- method="post" is used to send data from front end to backend -->
     <!-- enctype="multipart/form-data" is put here so that image files can be uploaded -->
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {%csrf_token %}
        <!-- csrf %csrf_token checks if request is been sent from same server or not -->
        <h2>Add Receipe</h2>
        <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Receipe Name</label>
          <input name="recipie_name" required type="text" class="form-control">
          <!-- name is given for each input, and name should be same as the variable name in models.py -->
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label" >Description</label>
          <textarea name="recipie_description" class="form-control" required></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Image</label>
            <input name="recipie_image" type="file" class="form-control">
          </div>
        <button type="submit" class="btn btn-success">Add</button>
      </form>
      <br>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">S.no</th>
            <th scope="col">Recipie Name</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">Actiions</th>
          </tr>
        </thead>
        <tbody>
         {%for recepie in recipies%}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{recepie.recipie_name}}</td>
            <td>{{recepie.recipie_description}}</td>
            <td>
              <img src="/media/{{recepie.recipie_image}}" style="height: 200px;"></td>
              <td>
                <a href="/delete-recepie/{{recepie.id}}/" class="btn btn-danger mt-3">Delete</a>
                <a href="/update-recepie/{{recepie.id}}/" class="btn btn-success mt-3">Update</a>
              </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
</div>

{% endblock %}